<manifest package="info.acidflow.cookee"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CookeeApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_cookee_launcher_48dp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.recipe.activity.RecipeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service android:name=".ui.cooking.service.CookingService"
                 android:exported="false"
            />
        <service android:name=".ui.cooking.service.CookingTimerService"
                 android:exported="false"
            />
    </application>

</manifest>
